/* bar_chapter_i คือ ความยาวทั้งหมด */
/* bar_chapter_i_h คือ hover */
/* bar_chapter_i_p คือ กดดูถึง */

.bar {
	/* --primary-color: #f00; */
	/* position:relative; */
	width: 100%;
	touch-action: none;
	color: #fff;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}
@media not all and (hover: none) {
	.bar:hover .bar_chapter_i_w {
		transform: scaleY(1.5);
	}

	.bar:hover .bar_chapter_i_h {
		opacity: 1;
	}

	.bar:hover .bar_marker_i_d {
		transform: scale(2.5) translate(-50%, -50%);
	}

	.bar:hover .bar_heat {
		transform: translateY(-0.85px);
	}

	.bar:hover .bar_heat-hover {
		opacity: 1 !important;
	}

	.bar:hover .bar_thumb {
		display: block;
	}

	.bar_dot {
		opacity: 0;
	}

	.bar_dot_i {
		width: 15px;
		height: 15px;
	}

	.bar:hover .bar_dot {
		opacity: 1;
	}
}
.bar_chapter {
	display: flex;
	position: relative;
	gap: 2px;
	transition: transfrom 0.12s ease;
}

.bar_chapter_i {
	padding: 6px 0;
	flex: 1;
}

.bar_chapter_i_w {
	position: relative;
	height: 4px;
	/* background: rgb(250, 4, 4); */
	transition: transform 0.12s ease;
	overflow: hidden;
}

.bar_chapter_i_w > div {
	position: absolute;
	left: 0;
	top: 0;
}

.bar_chapter_i_p,
.bar_chapter_i_h,
.bar_chapter_i_b {
	width: 100%;
	height: 100%;
	transform-origin: 0 0;
}

.bar_chapter_i_h {
	background: rgba(0, 255, 76, 0.603);
	opacity: 0;
}

.bar_chapter_i_p {
	transform: scaleX(0);
	background: #f00;
	background: var(--primary-color);
}

.bar_chapter_i_b {
	transform: scaleX(0);
	background: rgb(0, 0, 0);
}
