/* Ensure Layout takes full viewport size */
.Layout {
  overflow: hidden;
  width: 100vw;
  height: 100%;
}

/* Adjust Header to remove any padding or margin */
.Header {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

/* Make sure the Content takes full height and width */
.Content {
  height: 100%;
  padding: 0;
  margin: 0;
}

/*Login Page*/
/*
.element {
  background-color: #ffffff;
  height: auto;
  position: relative;
  width: auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

.element .header {
  background-color: #ffffff;
  height: 104px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.element .rectangle {
  background-color: #66666640;
  height: 2px;
  left: 0;
  position: absolute;
  top: 102px;
  width: 1440px;
}

.element .logo {
  background-color: #c4c4c4;
  border-radius: 28px;
  height: 56px;
  left: 692px;
  position: absolute;
  top: 24px;
  width: 56px;
}

.element .log-in {
  height: 877px;
  left: 0;
  position: absolute;
  top: 105px;
  width: 1440px;
}

.element .frame-10 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  left: 430px;
  position: relative;
  top: 48px;
}

.element .frame-11 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.element .text-wrapper-9 {
  color: #333333;
  font-family: 'Poppins', Helvetica;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.element .design-component-instance-node {
  flex: 0 0 auto !important;
}

.element .frame-12 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.element .social-media-signup-login {
  height: 64px !important;
  position: relative !important;
  width: 580px !important;
}

.element .social-media-signup-instance {
  left: 181px !important;
}

.element .social-media-signup-login-instance {
  font-size: 18px !important;
}

.element .social-media-signup-2 {
  left: 167px !important;
  top: 16px !important;
}

.element .social-media-signup-3 {
  font-size: 18px !important;
  margin-top: unset !important;
}

.element .social-media-signup-4 {
  left: 182px !important;
  top: 16px !important;
}

.element .divider-instance {
  flex: 0 0 auto !important;
  width: 580px !important;
}

.element .divider-3 {
  color: #111111 !important;
  font-size: 20px !important;
}

.element .frame-13 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.element .div-3 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 580px;
}

.element .label {
  align-self: stretch;
  background: none;
  border: none;
  color: #666666;
  font-family: 'Poppins', Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 27px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  padding-left: 0;
  position: relative;
  width: 100%;
}

.element .text-field {
  align-self: stretch;
  border: 1px solid;
  border-color: #66666659;
  border-radius: 12px;
  height: 56px;
  position: relative;
  width: 100%;
}

.element .frame-14 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.element .frame-15 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.element .frame-16 {
  align-self: stretch;
  height: 27px;
  position: relative;
  width: 100%;
}

.element .label-2 {
  color: #666666;
  font-family: 'Poppins', Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.element .password-hide-see {
  height: 27px;
  left: 498px;
  position: absolute;
  top: 0;
  width: 75px;
}

.element .icon {
  height: 24px !important;
  left: 0 !important;
  position: absolute !important;
  top: 3px !important;
  width: 24px !important;
}

.element .text-wrapper-10 {
  color: #666666cc;
  font-family: 'Poppins', Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
}

.element .text-wrapper-11 {
  color: #111111;
  font-family: 'Poppins', Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: right;
  text-decoration: underline;
  width: fit-content;
}

.element .button {
  all: unset;
  background-color: #111111;
  border-radius: 32px;
  box-sizing: border-box;
  height: 64px;
  opacity: 0.25;
  overflow: hidden;
  position: relative;
  width: 580px;
}

.element .sign-up-wrapper {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  left: 258px;
  position: relative;
  top: 15px;
}

.element .sign-up {
  color: #ffffff;
  font-family: 'Poppins', Helvetica;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.element .footer-instance {
  left: 0 !important;
  position: absolute !important;
  top: 982px !important;
}

.element .icons-2 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
} */
