/* Ensure Layout takes full viewport size */
.Layout {
  overflow: hidden;
  width: 100vw;
  height: 100%;
}

/* Adjust Header to remove any padding or margin */
.Header {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

/* Make sure the Content takes full height and width */
.Content {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Custom CSS */
.custom-dropdown-menu .ant-dropdown-menu {
  background-color: #c1272d !important; /* Your custom color */
  padding: 8px !important; /* Adjust padding */
  border-radius: 10px !important; /* Rounded corners */
  box-shadow:
    0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05) !important;
}

.custom-dropdown-menu .ant-dropdown-menu {
  background-color: #ffffff !important; /* Custom background color */
  border-radius: 10px !important; /* Custom border radius */
  padding: 8px !important; /* Custom padding */
}
